<h1>Tá Logadão!</h1>

<table>
    <% @users.each do |usuario| %>
        <tr>
            <td><%= usuario.name %></td>
            <td></td>
            <td></td>
            <td><%= usuario.email %></td>
        <tr>
    <% end %>
</table>